*.iml
.idea/
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

.DS_Store
Thumbs.db

local.properties

.gradle/
build/
captures/
.externalNativeBuild/
.cxx/

*.swp
*.tmp
